<div class="rhymeUnit">
<h1>韻、踏みます。</h1>

<!--/rhymeUnit --></div>

<div class="slider">
    <div><%=image_tag "images_rhyme_01.png" %></div>
    <div><%=image_tag "images_rhyme_02.jpg" %></div>
</div>

<div class="rhymesContents">
<div class="rhymeUnit rhymeC1 rhymeAC">
<div class="rhymeTxt">
<p>そもそも韻(rhyme)とは</p>
</div>
<div class="rhymePht">
<%=image_tag "images_rhyme_01.png" ,:size =>'350x300'%>
</div>
</div>
<div class="rhymeUnit rhymeC2 rhymeAC">
<div class="rhymeTxt">
<p>あああああああああああああああああああああ</p>
</div>
<div class="rhymePht">
<%=image_tag "images_rhyme_02.jpg" ,:size =>'350x300'%>
</div>
</div>
<!--/rhymeContents --></div>


