* {
  text-align: center;
  list-style: none outside;
  font-size: 100%;
}

html { 
  margin: 0;
  padding: 0;
  font: normal normal normal 100% sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #f2ecdf;
  font-family: "メイリオ", Meiryo "ヒラギノ角ゴ Pro W3", 'Hiragino Kaku Gothic ProN', Arial, Helvetica, sans-serif;
  color: #564024;
  -webkit-text-size-adjust: 100%;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, em, img {
  margin: 0;
  padding: 0;
  border: none;
}

th, td {
  vertical-align: top;
}
/*  */
a:link {
  text-decoration: none;
  color: #0a7bb0;
}

a:visited {
  text-decoration: none;
  color: #0a7bb0;
}

a:hover {
  text-decoration: none;
  color: #3344ee;
}

a.alp:hover img, a.alp:hover {
  filter: alpha(opacity=80);
  -moz-opacity: .80;
  opacity: .80;
}

.rhymeBx {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.rhymeAC {
 overflow: hidden;
}

.rhymeAC:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}
/* ------------------------------------------------------------------------------- */

.rhymeUnit {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.rhymesContents {
  margin-top: 130px;
}

/* ------------------------------------------------------------------------------- */

.rhymeC1, .rhymeC2{
  margin-top: 100px;
}

.rhymeC1 .rhymeTxt, .rhymeC2 .rhymePht {
  float: right;
}

.rhymeC1 .rhymePht, .rhymeC2 .rhymeTxt{
  float: left;
}

.rhymeTxt {
  width: 45.4%;
}

.rhymesContents p {
  line-height: 1.8;
}

.rhymesContents p + p{
  margin-top: 30px;
}
/* ------------------------------------------------------------------------------- */

.slider{
  margin: 50px auto;
  width: 900px;
}
.slider img{
  height: 40vw;
  width: 100%;
  object-fit: cover;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}

/* ------------------------------------------------------------------------------- */

.image {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

.img {
  width:　400px;
  height: 400px;
}


.content{
  margin: 0 auto;
  padding: 40px;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

/* ------------------------------------------------------------------------------- */

.ham {
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: #f2ecdf;
}
.ham_line {
	position: absolute;
	left: 10px;
	width: 40px;
	height: 3px;
	background-color: #333333;
}
.ham_line1 {
	top: 15px;
}
.ham_line2 {
	top: 28px;
}
.ham_line3 {
	top: 41px;
}

/* ------------------------------------------------------------------------------- */

.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 20px;
}
.clicked .ham_line2 {
	width: 0px;
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 20px;
}

.menu {
	position: fixed;
	width: 300px;
	height: 300px;
	left: -400px;
	background-color: aquamarine;
	transition: all 0.3s;
}
.clicked .menu {
	left: 8px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,.16);
}
.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 40px;
  background-color: #fff;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
  text-align: center;
  padding: 0 14px;
}
.global-nav__item a {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #111;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 1px;
  background-color: #111;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 14px;
}
.hamburger__line--2 {
  top: 20px;
}
.hamburger__line--3 {
  top: 26px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}