<div class="content">
        <a class="js-modal-open" href="" data-target="modal01">R指定</a><br>
        <a class="js-modal-open" href="" data-target="modal02">呂布カルマ</a><br>
        <a class="js-modal-open" href="" data-target="modal03">晋平太</a><br>
        <a class="js-modal-open" href="" data-target="modal04">SALU</a><br>
    </div>
     <div id="modal01" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h1>R指定</h1>
            <%=image_tag "R.jpg" ,:class=>"img"%><br>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->
    <div id="modal02" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h1>呂布カルマ</h1>
            <%=image_tag "ryofukarma.webp" ,:class=>"img"%><br>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->
     <div id="modal03" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h1>晋平太</h1>
            <%=image_tag "SHINPETA.jpg" ,:class=>"img"%><br>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->
    <div id="modal04" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <h1>SALU</h1>
            <%=image_tag "salu.jpeg" ,:class=>"img"%><br>
            <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
    </div><!--modal-->